In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score ,confusion_matrix, classification_report
import pickle 
import json

In [2]:
df = pd.read_csv("students_placement.csv")
df

     cgpa   iq  profile_score  placed
0    5.97  106             61       0
1    6.83  113             77       0
2    6.60  110             61       0
3    5.54  113             68       0
4    6.84  102             67       0
..    ...  ...            ...     ...
295  6.44  107             54       0
296  6.09  108             52       0
297  7.68  101             70       1
298  7.00   90             28       1
299  4.79  118             70       0

[300 rows x 4 columns]

In [3]:
x = df.drop("placed",axis=1)
x

     cgpa   iq  profile_score
0    5.97  106             61
1    6.83  113             77
2    6.60  110             61
3    5.54  113             68
4    6.84  102             67
..    ...  ...            ...
295  6.44  107             54
296  6.09  108             52
297  7.68  101             70
298  7.00   90             28
299  4.79  118             70

[300 rows x 3 columns]

In [4]:
y = df["placed"]
y

0      0
1      0
2      0
3      0
4      0
      ..
295    0
296    0
297    1
298    1
299    0
Name: placed, Length: 300, dtype: int64

In [5]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.2, random_state=2, stratify=y)

In [6]:
log_model = LogisticRegression()

In [7]:
log_model.fit(x_train , y_train)

LogisticRegression()

In [8]:
def evaluate_model(model, ind_var, act):
    pred = model.predict(ind_var)
    
    acc_score = accuracy_score(act,pred)
    print('Accuracy Score:', acc_score)
    print('**'*20)
    
    cnf_matrix = confusion_matrix(act, pred)
    print('Confision Matrix: \n', cnf_matrix)
    print('**'*20)
    
    clf_report = classification_report(act, pred)
    print('Classification Report :\n', clf_report)
    
    return pred
    
print('Testing Data Evaluation'.center(60, '*'))   
y_pred = evaluate_model(log_model, x_test, y_test)

******************Testing Data Evaluation*******************
Accuracy Score: 0.8833333333333333
****************************************
Confision Matrix:
 [[26  4]
 [ 3 27]]
****************************************
Classification Report :
               precision    recall  f1-score   support

           0       0.90      0.87      0.88        30
           1       0.87      0.90      0.89        30

    accuracy                           0.88        60
   macro avg       0.88      0.88      0.88        60
weighted avg       0.88      0.88      0.88        60

In [9]:
log_model.predict((np.array([4.5,56,10]).reshape(1,3)))[0]

C:\Users\admin\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

1

In [10]:
project_data = {"columns" : list(x.columns)}
project_data

{'columns': ['cgpa', 'iq', 'profile_score']}

In [11]:
with open ("Logistic_model.pkl","wb") as f:
    pickle.dump(log_model,f)

In [12]:
with open ("Project_data.json","w") as f:
    json.dump(project_data,f)